.main-body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singpass {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #8D9CD3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin-top: 50px;
}

.singpass img {
    width: 150px;
    margin-top: 20px;
}

#singpass-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

}

.footnote {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: whitesmoke;
}

